[submodule "OCanren"]
	path = OCanren
	url = https://github.com/Kakadu/OCanren.git
  branch = wildcard-master

[submodule "GT"]
	path = GT
	url = https://github.com/PLTools/GT.git
[submodule "ppx_fail"]
	path = ppx_fail
	url = https://github.com/janestreet/ppx_fail.git
